In [62]:
import pandas as pd 
import xlrd
xls = pd.ExcelFile("D:/!_DRB_SEALING_CATIA/USER/CLD.xlsx")
sh1=xls.parse(sheet_name="Sheet1")
sh1= sh1.drop_duplicates()
pd.isnull(sh1)

,FR ROOF,Unnamed: 1,b-plr,Unnamed: 3,hinge,Unnamed: 5,lwr,Unnamed: 7
0,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
61,False,False,False,False,False,False,False,False
62,False,False,False,False,False,False,False,False
63,False,False,False,False,False,False,False,False
64,False,False,False,False,False,False,False,False
65,False,False,False,False,False,False,False,False